/*work*
/*colors*/
:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #CF291D;
    --bs-orange: #fd7e14;
    --bs-yellow: #EEC170;
    --bs-green: #73A580;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #ffffff;
    --bs-gray: #9A9A9A;
    --bs-gray-dark: #343a40;
    --bs-primary: #CF291D;
    --bs-secondary: #ECECEC;
    --bs-success: #73A580;
    --bs-info: #9A9A9A;
    --bs-warning: #EEC170;
    --bs-danger: #EEC170;
    --bs-light: #ffffff;
    --bs-dark: #1D1D1D;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}

*{
    box-sizing: border-box;
}

html,body {
    margin:0;
    padding:0;
    overflow-x:hidden;
}



@font-face {
    font-family: HeadingFont;
    src: url(../assets/fonts/LiberGrotesqueFamily-Bold.ttf);
  }

  h1{
      font-family: HeadingFont;
  }

.container{
    padding: 0;
}

.header{
    color:  white;
    background-color: #1D1D1D ;
    padding: 0.5em;
}

.header img{
    width: 45%;
}

.header .logo{
    width: 65%;
}

.profileOptions{
    margin-top: 2em;

}

.profileOptions div{
    padding: 0;
}

.profileOptions img{
    width: 40%;
    
}

.profileOptions h1{
    padding-top: 0.7em;
    padding-left: 0.5em;
    font-size: 1.5em;
    
}

.profileButtons{
    margin-top: 2em;
}

.ProfileButton img{
    width: 14%;
}

.ProfileButton a{
    padding-left: 1em;
    text-decoration: none;
    color: var(--bs-gray-dark);
}



.imageOverview img{
    width: 50%;
    margin: 0.2em;

    
}

.nav {
background-color: rgba(0, 0, 0, 0.1);
margin-top: 1em ;

}

.nav a{
  text-decoration: none;
  color: black;
}

.noti{
    margin-left: -1.2em;
}

.profileSettingsImage{
    margin-top: 1em;
    margin-bottom: 1em;

}
.profileSettingsImage img{
width: 50%;

}

.error{
    background-color:  rgba(0, 0, 0, 0.1);
    color: var(--bs-primary);
    padding: 0.2em;
    margin: 0.5em;
    
}












