/*work in progress - ask Bastien*/

/*colors*/
:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #CF291D;
    --bs-orange: #fd7e14;
    --bs-yellow: #EEC170;
    --bs-green: #73A580;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #ffffff;
    --bs-gray: #9A9A9A;
    --bs-gray-dark: #343a40;
    --bs-primary: #CF291D;
    --bs-secondary: #ECECEC;
    --bs-success: #73A580;
    --bs-info: #9A9A9A;
    --bs-warning: #EEC170;
    --bs-danger: #EEC170;
    --bs-light: #ffffff;
    --bs-dark: #1D1D1D;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.test {
    width: 100%;
    height: 50px;
    background-color: var(--bs-gray);
}

#uploadForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-top: 40px;
}

#uploadPhoto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    background-color: var(--bs-gray);
    margin-top: 20px;
}

#uploadIcon {
    width: 30px;
}

#uploadFilter {
    margin-top: 20px;
}

.uploadText {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}

#uploadSubmit {
    margin-top: 20px;
}

.error {
    color: var(--bs-primary);
    font-weight: bold;
}

#posts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
    width: 80%;
    border-bottom: 1px solid var(--bs-gray);
}

#postImage {
    width: 100%;
}

#postDescription {
    font-size: 16px;
    margin-top: 20px;
}

#postLocation {
    font-weight: bold;
    font-size: 14px;
    margin: 0;
}

#postTags {
    font-weight: lighter;
    font-size: 14px;
    color: var(--bs-gray);
    margin: 0;
}